.main {
  min-height: calc(98vh - var(--header-height) - var(--footer-height));
}

@media screen and (max-width: 400px) {
  .main {
    min-height: calc(98vh - var(--header-height) - var(--footer-height) - 24px);
  }
}

.social-icons {
  margin-top: 10px;
}
