<div class="text-gray-500 text-xs text-center mb-5">
  <p class="mb-2">
    <a
      href="https://www.linkedin.com/company/wijk-works/"
      target="_blank"
      rel="noreferrer noopener"
      >LinkedIn</a
    >
    <span>&#183;</span>
    <a
      href="https://github.com/wijk-works/"
      target="_blank"
      rel="noreferrer noopener"
      >GitHub</a
    >
  </p>

  <p>
    &copy; 2020-2021 <a href="/">Wijk Works AB</a>

    {{ range .Site.Menus.footer }}
    <span>&#183;</span>
    <a href="{{ .URL }}">
      {{ .Pre }}
      <span>{{ .Name }}</span>
    </a>
    {{ end }}
  </p>
</div>
