<div class="profile">
    {{- with .Site.Params.profileMode }}
    <div class="profile_inner">
        {{- if .imageUrl}}<img src="{{ .imageUrl}}" alt="{{ .imageTitle | default "profile image" }}"
            height="{{- .imageHeight | default 150 -}}" width="{{- .imageWidth | default 150 -}}" />{{- end}}
        <h2>En webbyrå. Helt enkelt.</h2>
        {{- partial "social_icons.html" $.Site.Params.socialIcons -}}
        <p>{{- .subtitle | markdownify -}}</p>

        {{- with .buttons }}
        <div class="buttons">
            {{- range . -}}
            <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name | humanize }}">
                <span class="button-inner">{{ .name }}</span>
            </a>
            {{- end -}}
        </div>
        {{- end }}
    </div>
    {{- end}}
</div>
